<div>
    <!-- <app-header></app-header> -->
    <div class="form-content">
        <form class="form" action="#" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="row-content">
                <label class="label label-info" for="email">Email-ID</label>
                <input class="input" (input)="onEmailChange()" type="text" id="email" name="email" required [(ngModel)]="userObj.email" [ngModelOptions]="{standalone: true}">
                <span class="text-error">{{ this.emailError }}</span>
            </div>

            <div class="buttonParent">
                <button class="submitButton button " type="submit " id="submit ">{{'Fogot Password'}}</button>
            </div>
        </form>
    </div>
</div>