.home-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 2px solid red;
}

.router-outlet {
    margin: auto;
    width: 50%;
    border: 2px solid blueviolet;
    padding: 5px;
}