.home-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.router-outlet {
    margin: auto;
    width: 70%;
}

@media only screen and (max-width: 690px) {
    .home-container {
        flex-direction: column;
    }
    .router-outlet {
        overflow-x: scroll;
        width: 100%;
    }
}