// Side navigation bar Button styles
$btn-bg-color: #b3c6e7;
$btn-width: 100%;
$btn-height: 55px;
$btn-padding: 1px;
$btn-text-align: center;
$btn-border: 1px solid #042763;
$btn-text-font-size: small;
$btn-margin-bottom: 10px;
$btn-bg-color-hover: #8da9db;
$btn-color-hover: #ffffff;
// Side navigation div styles
$side-nav-width: 100%;
$side-nav-margin: 0px 0px 0px 0px;
$side-nav-border: 1px solid #042763;
$side-nav-padding: 10px;
$side-nav-text-weight: bold;
$side-nav-font-size: 25px;
$side-nav-text-mrg-btm: 5px;
$side-nav-text-mrg-top: 0;
$side-nav-color: rgb(7, 7, 7);
$side-nav-text-align:center;
//@mediaQuery(Side navigation Button styles)
$btn-media-bg-color: #b3c6e7;
$btn-media-width: 100%;
$btn-media-height: 45px;
$btn-media-padding: 2px;
$btn-media-text-align: center;
$btn-media-border: 1px solid #042763;
$btn-media-text-font-size:x-small;
$btn-media-margin-bottom: 10px;
$btn-media-bg-color-hover: #8da9db;
$btn-media-color-hover: #ffffff;
//@mediaQuery(Side navigation div styles)
$side-nav-media-width: 100%;
$side-nav-media-margin: 0px 0px 0px 0px;
$side-nav-media-border: 1px solid #042763;
$side-nav-media-padding: 5px;
$side-nav-media-text-weight: bold;
$side-nav-media-font-size: 15px;
$side-nav-media-text-mrg-btm: 5px;
$side-nav-media-text-mrg-top: 0;
$side-nav-media-color: rgb(2, 2, 2);
$side-nav-media-text-align:center;