// Side navigation bar Button styles
$btn-bg-color: #b3c6e7;
$btn-width: 100%;
$btn-height: 55px;
$btn-padding: 10px;
$btn-text-align: center;
$btn-border: 1px solid #042763;
$btn-text-font-size: medium;
$btn-margin-bottom: 10px;
$btn-bg-color-hover: #8da9db;
$btn-color-hover: #ffffff;
// Side navigation div styles
$side-nav-width: 100%;
$side-nav-margin: 0px 0px 0px 0px;
$side-nav-border: 1px solid #042763;
$side-nav-padding: 10px;
$side-nav-text-weight: bold;
$side-nav-text-size: 25px;
$side-nav-text-mrg-btm: 5px;
$side-nav-text-mrg-top: 0;
$side-nav-text-align:center;