<table id="customers" class="main-content">
  <thead>
    <th>Claim Number</th>
    <th>City</th>
    <th>Claim Reason</th>
    <th>Claim Type</th>
    <th>Claim Street</th>
    <th>Claim State</th>
    <th>Claim Zip</th>
  </thead>
  <tr *ngFor="let claim of userInsuredClaims">
    <td>{{claim.claimNumber}}</td>
    <td>{{claim.city}}</td>
    <td>{{claim.claimReason}}</td>
    <td>{{claim.claimType}}</td>
    <td>{{claim.street}}</td>
    <td>{{claim.state}}</td>
    <td>{{claim.zipcode}}</td>
  </tr>

</table>
