<div>
    <div class="example-container">
        <mat-toolbar class="toolbar">
            <mat-toolbar-row>
                <span class="span">Online Insurance Claim Registration System</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="form-content">
        <form class="form" action="#" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row-content">
                <label class="label label-info" for="userName">Login-ID</label>
                <input class="input" (input)="onUserNameChange()" type="text" id="userName" name="userName" [(ngModel)]="userObj.userName" [ngModelOptions]="{standalone: true}" required>
                <span class="text-error">{{ this.userNameError }}</span>
            </div>

            <div class="row-content ">
                <label class="label label-info" for="password">Password</label>
                <input class="input " (input)="onPasswordChange()" type="text" id="password" name="password" [(ngModel)]="userObj.password" [ngModelOptions]="{standalone: true}" required>
                <span class="text-error">{{ this.passwordError }}</span>
            </div>

            <div class="buttonParent">
                <a routerLink="../fogot-password" class="link-text">Forgot password</a>
                <div class="submit-reset">
                    <button class="submitButton button" type="submit " id="submit ">{{'Login'}}</button>
                </div>
            </div>
        </form>
    </div>
</div>