<div class="form-content">
    <form class="form" action="#" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-head">
            <div class="form-head-text">Enter the details</div>
        </div>
        <div class="row-content">
            <label class="label label-info" for="userName">Login-ID</label>
            <input class="input" (input)="onUserNameChange()" type="text" id="userName" name="userName" required [(ngModel)]="userObj.userName" [ngModelOptions]="{standalone: true}">
            <span class="text-error">{{ this.userNameError }}</span>
        </div>

        <div class="row-content">
            <label class="label label-info" for="password">Password</label>
            <input class="input" (input)="onPasswordChange()" type="text" id="password" name="password" required [(ngModel)]="userObj.password" [ngModelOptions]="{standalone: true}">
            <span class="text-error">{{ this.passwordError }}</span>
        </div>

        <div class="row-content">
            <label class="label label-info" for="email">Email</label>
            <input class="input" (input)="onEmailChange()" type="text" name="email" id="email" required [(ngModel)]="userObj.email" [ngModelOptions]="{standalone: true} ">
            <span class="text-error">{{ this.emailError }}</span>
        </div>

        <div class="row-content">
            <label class="label label-info" for="accountNumber">Account Number</label>
            <input class="input" (input)="onAccountNumberChange()" type="text" name="accountNumber" id="accountNumber" required [(ngModel)]="userObj.accountNumber" [ngModelOptions]="{standalone: true} ">
            <span class="text-error">{{ this.accountNumberError }}</span>
        </div>

        <div class="select-box">
            <div>
                <label for="roleCode" class="label label-info">Role ID</label>
                <select class="select" name="roleCode" id="roleCode" required [(ngModel)]="userObj.roleCode" [ngModelOptions]="{standalone: true} ">
                                <option selected disabled>Select Role</option>
                                <option value="admin">Claim Adjuster</option>
                                <option value="agent">Insurance Claim Handler</option>
                                <option value="user">Insured</option>
                    </select>
            </div>
        </div>

        <div class="buttonParent">
            <div class="submit-reset">
                <button type="submit" class="button submitButton" id="submitButton">Add</button>
                <button type="reset" class="resetButton button" (click)="reset()">Reset</button>
            </div>
        </div>
    </form>
</div>