<table id="customers" class="main-content">
    <thead>
      <th>Policy Number</th>
      <th>Policy Name</th>
      <th>Premium Amount</th>
      <th>Make Claim</th>
    </thead>
    <tr *ngFor="let policy of userInsuredPolicies">
        <td>{{policy[0]}}</td>
        <td>{{policy[1]}}</td>
      <td>{{policy[3]}}</td>
      <td>
          <button class="make-button-claim" [routerLink]="['/home/claim-creation']" routerLinkActive="router-link-active"><img style="zoom: 1.4;
              margin: auto;
              display: flex;" src="../../../assets/icons/caret-right-fill.svg"
              (click)="getPolicyNumber(policy)">
          </button>
      </td>
    </tr>

  </table>
