<div>
    <app-header></app-header>
    <div class="form-content">
        <form class="form" action="#" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

            <div class="row-content">
                <label class="label label-info" for="newpassword">New Password</label>
                <input class="input" (input)="onNewPasswordChange()" type="text" id="newpassword" name="newpassword" required [(ngModel)]="resetObj.newPassword" [ngModelOptions]="{standalone: true}">
                <span class="text-error">{{ this.newPasswordError }}</span>
            </div>

            <div class="row-content ">
                <label class="label label-info" for="cnfpassword">Confirm Password</label>
                <input class="input " (input)="onConfirmPasswordChange()" type="text" id="cnfpassword" name="cnfpassword" required [(ngModel)]="resetObj.confirmPassword" [ngModelOptions]="{standalone: true}">
                <span class="text-error">{{ this.confirmPasswordError }}</span>
            </div>

            <div class="buttonParent">
                <button class="submitButton button " type="submit " id="submit">{{'Reset Password'}}</button>
            </div>
        </form>
    </div>
</div>